doctype html
html
  head
    title Backbone Training
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
    //- vendor:css
    link(rel='stylesheet', href='/vendors/styles/vendors.css')
    //- endinject

    //- inject:css
    link(rel='stylesheet', href='/css/styles.css')
    //- endinject
  body
    block content

    //- vendor:js
    script(src='/vendors/js/vendors.js')
    //- endinject

    //- inject:js
    script(src='/js/app.js')
    //- endinject

    block includes